arrow==1.2.3
astroid==2.15.6
attrs==23.1.0
black==23.3.0
click==8.1.4
dill==0.3.6
exceptiongroup==1.1.2
font-roboto==0.0.1
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy==1.4.1
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
Pillow==10.0.0
platformdirs==3.9.1
pluggy==1.2.0
pylint==2.17.4
pytest==7.4.0
python-dateutil==2.8.2
six==1.16.0
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.7.1
wrapt==1.15.0
