appdirs==1.4.4
arrow==1.0.3
astroid==2.5.1
attrs==20.3.0
black==20.8b1
click==7.1.2
font-roboto==0.0.1
iniconfig==1.1.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy==0.812
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
Pillow==8.1.2
pluggy==0.13.1
py==1.10.0
pylint==2.7.2
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
regex==2021.3.17
six==1.15.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
wrapt==1.12.1
